<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://mhm.rabita.az/schemas/NLog.xsd" xmlns:xsi="http://mhm.rabita.az">
  <!--<variable name="callsite-filesource" value="${callsite:className=false:includeNamespace=false:fileName=true:includeSourcePath=true:methodName=false:cleanNamesOfAnonymousDelegates=true:skipFrames=1}" />-->
  <variable name="appName" value="WebApiExamples" />
  <variable name="toMail" value="kamran_aeff@mail.ru" />
  <variable name="ccMails" value="" />

  <variable name="callsite-methodname" value="${callsite:className=true:includeNamespace=true:fileName=false:includeSourcePath=false:methodName=true:cleanNamesOfAnonymousDelegates=true}" />
  <variable name="callsite-filesource" value="${callsite:className=false:includeNamespace=false:fileName=true:includeSourcePath=true:methodName=false:cleanNamesOfAnonymousDelegates=true}" />
  <targets>
    <target name="default" xsi:type="File"
              fileName="${basedir}/Logs/Default.log"
              layout="${longdate} ${level:uppercase=true:padding=5} ${session} ${storeid} ${msisdn} - ${message} - ${exception:format=tostring}"
              archiveEvery="Day"
              archiveFileName="${basedir}/Logs/Default${date:format=yyyy.MM.dd}.log"
              archiveNumbering="Sequence"
              maxArchiveFiles="31"
              keepFileOpen="true"
            />

    <target name="errors" xsi:type="File"
              fileName="${basedir}/Logs/Error.log"
              layout="${longdate} ${level:uppercase=true:padding=5} ${session} ${storeid} ${msisdn} -${message} ${exception:format=tostring}"
              archiveEvery="Day"
              archiveFileName="${basedir}/Logs/Error${date:format=yyyy.MM.dd}.log"
              archiveNumbering="Sequence"
              maxArchiveFiles="31"
              keepFileOpen="true"
            />

    <target name="mail" xsi:type="Mail"
        subject="${var:appName}"
        smtpServer="smtp.mail.ru"
        smtpPort="25"
        smtpAuthentication="Basic"
        smtpUserName="appsolutionmail"
        smtpPassword="app_mhm_pwd"
        enableSsl="true"
        from="appsolutionmail@mail.ru"
        to="${var:toMail}"
        cc="${var:ccMails}"
          />

    <target name="database" xsi:type="Database" >
      <connectionString>data source=.;initial catalog=UniCore;user id=logger;password=logger;application name="${var:appName}"</connectionString>

      <!---->
      <commandText>dbo.spLogger</commandText>
      <commandType>StoredProcedure</commandType>
      <parameter name="@application" layout="${var:appName}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@memberName" layout="${var:callsite-methodname}"/>
      <parameter name="@sourceFilePath" layout="${var:callsite-filesource}"/>
      <parameter name="@errorLine" layout="${callsite-linenumber}"/>

    </target>
    
  <!--For Filters Logger-->
    <target name="filterFileLogger" xsi:type="File"
              fileName="${basedir}/FilterLogs/Default.log"
              layout="${longdate} ${level:uppercase=true:padding=5} ${session} ${storeid} ${msisdn} - ${message} - ${exception:format=tostring}"
              archiveEvery="Day"
              archiveFileName="${basedir}/FilterLogs/Default-.log"
              archiveNumbering="Date"
              maxArchiveFiles="20"
              keepFileOpen="true"
            />
  </targets>
  <rules>
    <!--<logger name="*" levels ="Trace,Debug,Info,Warn,Error" writeTo="default" />
    <logger name="*" levels ="Error,Fatal" writeTo="errors" />
    <logger name="*" levels ="Error,Fatal" writeTo="mail" />-->
    
  <logger name="Lesson01.Filters.*" levels ="Trace,Debug,Info,Warn,Error" writeTo="filterFileLogger" />

  </rules>
</nlog>
